<% content_for :header_options do %>
	<%= link_to 'Back to Categories', product_categories_path, class: 'btn btn-default btn-primary' %>
<% end %>

<h3 class="page-title">Update <%= @category.name %> </h3>

<%= form_for @category do |t| %>
	<%= render partial: 'form', locals: {t: t} %>
	<%= submit_tag 'Create New Category', class: 'btn btn-default' %>
<% end %>



