
<table class="table customer-form">
	<tr>
		<td class="customer-form-data form-label-cell"><%= t.label :first_name, class: 'form-label' %></td>
		<td class="customer-form-data form-field-cell"><%= t.text_field :first_name, class: 'form-field' %></td>
	</tr>
	<tr>
		<td class="customer-form-data form-label-cell"><%= t.label :last_name, class: 'form-label' %></td>
		<td class="customer-form-data form-field-cell"><%= t.text_field :last_name, class: 'form-field' %></td>
	</tr>
	<tr>
		<td class="customer-form-data form-label-cell"><%= t.label :email, class: 'form-label' %></td>
		<td class="customer-form-data form-field-cell"><%= t.text_field :email, class: 'form-field' %></td>
	</tr>
</table>
