	<div class="form-section">
		<div class="form-section-name">User Info</div>

		<div class="form-row">
			<div class="form-col form-col-third">
				<%= t.label :first_name, class: 'form-label' %> <br>
				<%= t.text_field :first_name, class: 'form-input form-text-input' %>
			</div>
			<div class="form-col form-col-third">
				<%= t.label :last_name, class: 'form-label' %> <br> 
				<%= t.text_field :last_name, class: 'form-input form-text-input' %>
			</div>
			<div class="form-col form-col-third">
				<%= t.label :email, class: 'form-label' %>: <%= t.text_field :email, class: 'form-input form-text-input' %>
			</div>
			<div class="clear-left"></div>
		</div>
		<div class="form-row">
			<div class="form-col form-col-half">
				<%= t.label :password, class: 'form-label' %> <br>
				<%= t.password_field :password, class: 'form-input form-text-input' %>
			</div>
			<div class="form-col form-col-half">
				<%= t.label :password_confirmation, class: 'form-label' %> <br>
				<%= t.password_field :password_confirmation, class: 'form-input form-text-input' %>
			</div>
			<div class="clear-left"></div>
		</div>
	</div>